#minikube addons enable ingress
#change /etc/hosts to add the following line:
# add minikube ip app.local

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
spec:
  ingressClassName: nginx
  rules:
  # - host: app.local
    - http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: frontend-service
              port:
                number: 3000

        - path: /api
          pathType: Prefix
          backend:
            service:
              name: backend-service
              port:
                number: 3500
