name: Running CI


on: [push]


permissions:
  id-token: write #allow GitHub's OIDC provider to create a JSON Web Token for every run.
  contents: read #to checkout the code

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      #--- Setting up Node
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 16 #(LTS)
      
      #--- Frontend
      - name: Install frontend dependencies
        working-directory: FE/frontend/
        run: npm ci #clean install

      - name: Build frontend
        working-directory: FE/frontend/
        run: npm run build

      #--- Backend
      - name: Install backend dependencies
        working-directory: BE/backend
        run: npm ci

      # #--- SonarQube Scan (Disabled)
      # - name: SonarQube Scan
      #   uses: SonarSource/sonarqube-scan-action@v6
      #   with:
      #     args: >
      #       -Dsonar.projectKey=todo-app-react-node
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      
      # #--- Dependency Check
      # - name: Trivy Dependency Scan
      #   uses: aquasecurity/trivy-action@0.24.0
      #   with:
      #     scan-type: repo
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0 #will change later
      #     # format: json
      #     # output: trivy-dependency-report.json

      # #--- Gitleaks File Scan
      # - name: Gitleaks Secret Scan
      #   uses: gitleaks/gitleaks-action@v2
      #   continue-on-error: true
      #   with:
      #     fetch-depth: 0
      #           # env:
  #        GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }} # Only required for Organizations, not personal accounts.


      #--- PUSHING INTO AWS ECR
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_OIDC_ROLE_NAME }}
          aws-region: ${{ vars.AWS_REGION }}
          role-session-name: GithubSession
      
      #--- LOGIN TO ECR
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      #--- BUILD DOCKER IMAGES
      - name: Build frontend image
        run: |
          docker build
            -f FE/frontend/Dockerfile \
            -t frontend:${{ github.sha }} \
            FE/frontend

      - name: Build backend image
        run: |
          docker build \
            -f BE/backend/Dockerfile \
            -t backend:${{ github.sha }} \
            BE/backend

      #--- ECR Image Scan
      - name: Image Scan using Trivy (Frontend)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: frontend:${{ github.sha }}
          scanners: vuln
          severity: HIGH,CRITICAL
          exit-code: 0

      - name: Image Scan using Trivy (Backend)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: backend:${{ github.sha }}
          scanners: vuln
          severity: HIGH,CRITICAL
          exit-code: 0

      #--- TAGGING AND PUSHING TO ECR
      - name: Pushing To ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          FRONTEND_REPOSITORY: ${{ vars.ECR_FRONTEND_REPO }}
          BACKEND_REPOSITORY: ${{ vars.ECR_BACKEND_REPO }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker tag frontend:$IMAGE_TAG $REGISTRY/$FRONTEND_REPO:frontend-$IMAGE_TAG
          docker tag backend:$IMAGE_TAG  $REGISTRY/$BACKEND_REPO:backend-$IMAGE_TAG
          
          docker push $REGISTRY/$FRONTEND_REPO:frontend-$IMAGE_TAG
          docker push $REGISTRY/$BACKEND_REPO:backend-$IMAGE_TAG
      
        #docker tag image_name repository_uri:tag

      # #--- Updating Manifest File
      # - name: Update manifest file
      #   run: |
          

#---------------------------------------EXTRA NOTES---------------------------------------#
    #docker build -f FE/frontend/Dockerfile -t 907713623358.dkr.ecr.ap-south-1.amazonaws.com/fe-be-repo:frontend-${{ github.sha }} .
    #907713623358.dkr.ecr.ap-south-1.amazonaws.com/fe-be-repo:backend-${{ github.sha }} #wll be removed later

      # #--- Building Docker Images and PUSING INTO MY REPO
      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ vars.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3

      # --- Trivy Dependency Scan (Frontend)
      # - name: Trivy Dependency Scan (Frontend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: fs
      #     scan-ref: FE/frontend
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      # # --- Trivy Dependency Scan (Backend)
      # - name: Trivy Dependency Scan (Backend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: fs #file system scan
      #     scan-ref: BE/backend
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      # - name: Image Scan using Trivy (Frontend)
      #   uses: aquasecurity/trivy-action@0.24.0
      #   with:
      #     image-ref: captianvigg06/fe-be-repo:frontend-${{ github.sha }}
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      # - name: Image Scan using Trivy (Backend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     image-ref: captianvigg06/fe-be-repo:backend-${{ github.sha }}
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0
      

#IAM → Identity providers → Add provider (OIDC)
#