name: Running CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      #--- Setting up Node
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 16 #(LTS)
      
      #--- Frontend
      - name: Install frontend dependencies
        working-directory: FE/frontend/
        run: npm ci #clean install

      - name: Build frontend
        working-directory: FE/frontend/
        run: npm run build

      #--- Backend
      - name: Install backend dependencies
        working-directory: BE/backend
        run: npm ci

      #--- SonarQube Scan
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.projectKey=todo-app-react-node
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}