name: Running CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      #--- Setting up Node
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 16 #(LTS)
      
      #--- Frontend
      - name: Install frontend dependencies
        working-directory: FE/frontend/
        run: npm ci #clean install

      - name: Build frontend
        working-directory: FE/frontend/
        run: npm run build

      #--- Backend
      - name: Install backend dependencies
        working-directory: BE/backend
        run: npm ci

      # #--- SonarQube Scan (Disabled)
      # - name: SonarQube Scan
      #   uses: SonarSource/sonarqube-scan-action@v6
      #   with:
      #     args: >
      #       -Dsonar.projectKey=todo-app-react-node
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      
      #--- Dependency Check
      # --- Trivy Dependency Scan (Frontend)
      - name: Trivy Dependency Scan (Frontend)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: FE/frontend
          scanners: vuln
          severity: HIGH,CRITICAL
          exit-code: 0

      # --- Trivy Dependency Scan (Backend)
      - name: Trivy Dependency Scan (Backend)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: backend
          scanners: vuln
          severity: HIGH,CRITICAL
          exit-code: 0

      #--- Gitleaks File Scan
      - name: Gitleaks Secret Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          args: >
            detect
            --source .
            --report-format json
            --report-path gitleaks-report.json