name: Running CI


on: [push]


permissions:
  id-token: write #allow GitHub's OIDC provider to create a JSON Web Token for every run.
  contents: read #to checkout the code

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      #--- Setting up Node
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 16 #(LTS)
      
      #--- Frontend
      - name: Install frontend dependencies
        working-directory: FE/frontend/
        run: npm ci #clean install

      - name: Build frontend
        working-directory: FE/frontend/
        run: npm run build

      #--- Backend
      - name: Install backend dependencies
        working-directory: BE/backend
        run: npm ci

      # #--- SonarQube Scan (Disabled)
      # - name: SonarQube Scan
      #   uses: SonarSource/sonarqube-scan-action@v6
      #   with:
      #     args: >
      #       -Dsonar.projectKey=todo-app-react-node
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      
      # #--- Dependency Check
      # - name: Trivy Dependency Scan
      #   uses: aquasecurity/trivy-action@0.24.0
      #   with:
      #     scan-type: repo
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0 #will change later
      #     # format: json
      #     # output: trivy-dependency-report.json

      # #--- Gitleaks File Scan
      # - name: Gitleaks Secret Scan
      #   uses: gitleaks/gitleaks-action@v2
      #   continue-on-error: true
      #   with:
      #     fetch-depth: 0
      #           # env:
  #        GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }} # Only required for Organizations, not personal accounts.


      #--- PUSHING INTO AWS ECR
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_OIDC_ROLE_NAME }}
          aws-region: ${{ vars.AWS_REGION }}
          role-session-name: GithubSession
      
      #--- LOGIN TO ECR
      # - name: Login to Amazon ECR
      #   id: login-ecr
      #   uses: aws-actions/amazon-ecr-login@v2
      
      #--- Setting up variables
      - name: Set up variables to use locally in runner
        run: |
          echo "REGISTRY=dummy-registry" >> $GITHUB_ENV
          echo "FRONTEND_REPOSITORY=dummy-frontend-repo" >> $GITHUB_ENV
          echo "BACKEND_REPOSITORY=dummy-backend-repo" >> $GITHUB_ENV
          echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

        # run: |
        #   echo "REGISTRY=${{ steps.login-ecr.outputs.registry }}" >> $GITHUB_ENV
        #   echo "FRONTEND_REPOSITORY=${{ vars.AWS_ECR_FRONTEND_REPO_NAME }}" >> $GITHUB_ENV
        #   echo "BACKEND_REPOSITORY=${{ vars.AWS_ECR_BACKEND_REPO_NAME }}" >> $GITHUB_ENV
        #   echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

      #--- BUILD DOCKER IMAGES
      - name: Build frontend image
        run: docker build -f FE/frontend/Dockerfile -t frontend:${{ github.sha }} .

      - name: Build backend image
        run: docker build -f BE/backend/Dockerfile -t backend:${{ github.sha }} .

      #--- ECR Image Scan
      # - name: Image Scan using Trivy (Frontend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     image-ref: frontend:${{ github.sha }}
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      # - name: Image Scan using Trivy (Backend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     image-ref: backend:${{ github.sha }}
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      #--- Building Docker Images and PUSING INTO MY REPO
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      #--- TAGGING AND PUSHING TO ECR
      
      - name: Pushing To ECR
        run: |
          docker tag frontend:${{ github.sha }} captianvigg06/fe-be-repo:frontend-$IMAGE_TAG
          docker tag captianvigg06/fe-be-repo:backend-$IMAGE_TAG
          
          docker push captianvigg06/fe-be-repo:frontend-$IMAGE_TAG
          docker push captianvigg06/fe-be-repo:backend-$IMAGE_TAG

        #docker tag image_name repository_uri:tag

      # #--- Updating Manifest File in another repo
      - name: Checkout different repo
        uses: actions/checkout@v6
        with:
          repository: Viggy06/TO-DO-APP-CONFIGS
          token: ${{ secrets.GH_PAT }}
          path: configs-repo #folder name where this repo will be checked out

      #--- Update frontend-deployment-pod.yml with new image tags
      - name: Update frontend-deployment-pod.yml
        run: |
          cd configs-repo/frontend
          sed -i "s|image: .*frontend-:.*|image: captianvigg06/fe-be-repo:frontend-$IMAGE_TAG|"
      
      - name: Commit frontend image update
        run: |
          cd configs-repo
          git add frontend/deployment.yaml
          git commit -m "chore(frontend): update image to ${{ github.sha }}"
          git push
        #chore(frontend) best practise for commit message
          
      
      #--- Update backend-deployment-pod.yml with new image tags
      - name: Update backend-deployment-pod.yml
        run: |
          cd configs-repo/backend
          sed -i "s|image: .*backend-:.*|image: captianvigg06/fe-be-repo:backend-$IMAGE_TAG|"
      
      - name: Commit backend image update
        run: |
          cd configs-repo
          git add backend/deployment.yaml
          git commit -m "chore(backend): update image to ${{ github.sha }}"
          git push


#---------------------------------------EXTRA NOTES---------------------------------------#
    #s | old_text | new_text |
    #docker build -f FE/frontend/Dockerfile -t 907713623358.dkr.ecr.ap-south-1.amazonaws.com/fe-be-repo:frontend-${{ github.sha }} .
    #907713623358.dkr.ecr.ap-south-1.amazonaws.com/fe-be-repo:backend-${{ github.sha }} #wll be removed later

      # #--- Building Docker Images and PUSING INTO MY REPO
      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ vars.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3

      # --- Trivy Dependency Scan (Frontend)
      # - name: Trivy Dependency Scan (Frontend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: fs
      #     scan-ref: FE/frontend
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      # # --- Trivy Dependency Scan (Backend)
      # - name: Trivy Dependency Scan (Backend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: fs #file system scan
      #     scan-ref: BE/backend
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      # - name: Image Scan using Trivy (Frontend)
      #   uses: aquasecurity/trivy-action@0.24.0
      #   with:
      #     image-ref: captianvigg06/fe-be-repo:frontend-${{ github.sha }}
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      # - name: Image Scan using Trivy (Backend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     image-ref: captianvigg06/fe-be-repo:backend-${{ github.sha }}
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0
