name: Running CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      #--- Setting up Node
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 16 #(LTS)
      
      #--- Frontend
      - name: Install frontend dependencies
        working-directory: FE/frontend/
        run: npm ci #clean install

      - name: Build frontend
        working-directory: FE/frontend/
        run: npm run build

      #--- Backend
      - name: Install backend dependencies
        working-directory: BE/backend
        run: npm ci

      # #--- SonarQube Scan (Disabled)
      # - name: SonarQube Scan
      #   uses: SonarSource/sonarqube-scan-action@v6
      #   with:
      #     args: >
      #       -Dsonar.projectKey=todo-app-react-node
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      
      #--- Dependency Check
      - name: Trivy Dependency Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: repo
          scanners: vuln
          severity: HIGH,CRITICAL
          exit-code: 0 #will change later
          # format: json
          # output: trivy-dependency-report.json

      #--- Gitleaks File Scan
      - name: Gitleaks Secret Scan
        uses: gitleaks/gitleaks-action@v2
        continue-on-error: true
        with:
          fetch-depth: 0
                # env:
  #        GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }} # Only required for Organizations, not personal accounts.

      
      #--- Building Docker Images and PUSING INTO MY REPO
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./FE/frontend
          file: ./FE/frontend/Dockerfile
          push: true
          tags: captianvigg06/fe-be-repo:frontend-${{ github.sha }}

      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: ./BE/backend
          file: ./BE/backend/Dockerfile
          push: true
          tags: captianvigg06/fe-be-repo:backend-${{ github.sha }}
      
      #--- ECR Image Scan
      - name: ECR Image Scan using Trivy (Frontend)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: ecr
          image-ref: captianvigg06/fe-be-repo:frontend-${{ github.sha }}
          scanners: vuln
          severity: HIGH,CRITICAL
          exit-code: 0

      - name: ECR Image Scan using Trivy (Backend)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: captianvigg06/fe-be-repo:backend-${{ github.sha }}
          severity: HIGH,CRITICAL
          exit-code: 0

#---------------------------------------EXTRA NOTES---------------------------------------#
      # --- Trivy Dependency Scan (Frontend)
      # - name: Trivy Dependency Scan (Frontend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: fs
      #     scan-ref: FE/frontend
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0

      # # --- Trivy Dependency Scan (Backend)
      # - name: Trivy Dependency Scan (Backend)
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: fs #file system scan
      #     scan-ref: BE/backend
      #     scanners: vuln
      #     severity: HIGH,CRITICAL
      #     exit-code: 0
